.container {
    padding: 0px !important;
}

body {
    background: url(images/tweede_kamer.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    justify-content: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(100%);
}

.logo img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 10px;
}

.welkombox {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.emailbox {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.button a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button a:hover {
    color:white;
    background-color:black;
}

.buttonlogin {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.buttonlogin:hover {
    color:white;
    background-color:black;
}

.buttonbox {
    text-align-last: center;
}

.button {
    text-align: center;
}

.code {
    text-align: center;
}

.col-sm-6 {
    background-color: white;
}

.btn-success {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 10px;
    background-color: white;
}

.btn-danger {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 10px;
    background-color: white;
}

.partij {
    padding: 5px;
    width: 324px;
    float: left;
}

.partij img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.partij_leden {
    padding: 5px;
    display: flex;
    float: left;
}

.alert.alert-danger {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.alert-danger {
    color: #000000;
    font-weight: bold;
    background-color: #ff0016;
    border-color: #ff0019;
}

.page-header {
    text-align: center;
}

.header {
    padding: 25px;
}

@media only screen and (max-width: 1400px) {
    .partij {
      width: 279px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .partij {
      width: 234px;
    }
  }

  @media only screen and (max-width: 992px) {
    .partij {
      width: 174px;
    }
  }